*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: hsl(0, 9%, 56%);
}

.container{
    width: 100%;
    padding: auto;
    margin: 15% auto;
    text-align: center;
}

.onmouseover{
    font-family: 'Segoe UI';
    font-size: 40px;
    display: inline-block;
    color: orangered;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    margin: 50px auto;




}

.letter{
    display: inline-block;
    font-size: 200px;
    font-weight: 900;
    font-stretch: ultra-expanded;
    transform: rotate(0deg);
    font-family: 'Franklin Gothic Medium';
}

/* dynamically added class */
.color{
    transform: rotate(0deg);
    transform: scale(1.5) rotate(10deg);
    transition: 0.5s;
    color: lime;
}